/*--General Setting --*/
html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
}

/*-- Top of the website --*/

.website-top {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    flex-direction: column;
}

.header {
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 20px 20px;
    height: 5%;
}


.logo {
    display: flex;
    flex: 0, 0, auto;
    height: 100px;
    width: auto;
    filter: invert(1);
}


.header-links {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 40px;
    margin-right: 100px;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

a:hover {
    color: #636262;
}

/*-- End of top of the Website --*/

/*-- Top Container --*/

.header-container {
    display: flex;
    flex: 1;
    height: 20%;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 50px;
}


.top-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 20%;
    justify-content: flex-end;
    align-items: start;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
}

.top-description {
    color: #989898;
    text-align: left;
}

.top-image {
    display: flex;
    flex: 1;
    height: 200px;
    width: auto;
    margin-right: 100px;
    justify-content: start;
}

.top-image img {
    border: 2px solid #0744a5;
    border-radius: 10px;
}

.blue-button {
    display: flex;
    flex: 1;
    border: 0;
    width: 100px;
    border-radius: 10px;
    font-weight: 700;
    padding: 7px;
    background: #3882F6;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.blue-button:hover {
    background: #0744a5;
}


/*-- End of top container --*/

/*-- Middle Container --*/

.mid-container1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0 20%;
}

.info-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 30px;
}

.info-container img {
    height: 100px;
    width: auto;
}

.info {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 30px;
}

.element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.element img {
    width: auto;
    height: 120px;
    border-radius: 10px;
    border: 2px solid #0744a5;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0 20%;
    text-align: center;
}

.mid-container2 {
    display: flex;
    flex: 1;
    width: auto;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 50px
}

.paragraph {
    display: flex;
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
}


.quote {
    display: flex;
    flex: 0 1 auto;
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    justify-content: right;
    text-align: right;
    margin-right: 20%;
}

/*-- End of Middle Container --*/

/*-- Bottom of the Website --*/

.bottom-container {
    display: flex;
    flex: 1;
    padding: 30px;

}

.blue-box {
    display: flex;
    flex: 1;
    margin: 0 20%;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 20px;
    gap: 40px;
}

.blue-text {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
}

.box-text {
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 30px;
    color: #E5E7EB;
    font-weight: 700;
    margin-bottom: 10px;
}

.box-description {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 16px;
    color: #E5E7EB;
    font-weight: lighter;
    margin-right: 10%;
}

.blue-box .blue-button {
    border: 2px solid #E5E7EB;
    height: 40px;
    width: 80px;
    flex: 0 0 auto;
    align-self: center;
    margin-right: 20px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}